*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;
}
.head{
    font-size:larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(61, 147, 204);
}
.menubar{
    background-color: rgb(29, 29, 29);
    button{
        border:none;
        background-color:rgb(29, 29, 29);
        color:white;
        margin: 7px;
    }
}
#frame{
    width: 100%;
    height: 100%;
}